body {
    display: flex;
    flex-direction: column;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
}

.top-section {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
}

ul,
.banner-text {
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    list-style: none;
    padding-left: 0px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: flex;

}

.banner-section-1 {
    flex: 1;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    align-self: flex-start;
}

.banner-headline {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    border: 0;
    padding: 10px;
    font-size: 16px;
}

.middle-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.our-team {
    display: flex;
    flex-wrap: flex;
}

.team-profile {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    padding: 20px;
}

.team-images {
    height: 200px;
    width: 200px;
    border-radius: 5px;
}

.inspirational.quote {
    display: flex;
    flex-direction: column;
    margin: 100px;
    
}

.quote {
    text-align: justify;
    flex-basis: 600px;
    font-style: italic;
}

.attribution {
    text-align: end;
    font-weight: bold;
}

.cta-banner {
    background-color: #3882f6;
    border-radius: 5px;
    align-self: stretch;
    margin: 100px;
    color: white;
    padding: 16px;
}

.cta-signup {
    background-color: #1F2937;
    border: 5px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
}